<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Watcher</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/static/js/image-upload.js" defer></script>
</head>

<body class="bg-green-50">

    <!-- Navbar -->
    <nav class="bg-white shadow-md border-b border-green-100">
        <div class="max-w-5xl mx-auto px-6 py-4 flex items-center gap-4">

            <a href="/" class="bg-green-600 text-white px-4 py-2 rounded-lg font-medium hover:bg-green-700 transition">
                Watering
            </a>

            <a href="/manage-plants"
                class="bg-white border border-green-600 text-green-700 px-4 py-2 rounded-lg font-medium hover:bg-green-50 transition">
                Manage Plants
            </a>
                
            <a href="/manage-places"
                class="bg-white border border-green-600 text-green-700 px-4 py-2 rounded-lg font-medium hover:bg-green-50 transition">
                Manage Places
            </a>
                <a href="/notify"
                class="bg-white border border-green-600 text-green-700 px-4 py-2 rounded-lg font-medium hover:bg-green-50 transition">
                Test notification
            </a>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="max-w-5xl mx-auto p-8">
        {% block content %}
        {% endblock %}
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const scrollY = sessionStorage.getItem("scrollY");

            if (scrollY !== null) {
                window.scrollTo(0, parseInt(scrollY));
                sessionStorage.removeItem("scrollY");
            }
        });

        window.addEventListener("beforeunload", () => {
            sessionStorage.setItem("scrollY", window.scrollY);
        });
    </script>
</body>

</html>