{% extends "base.html" %}

{% block content %}
<h1 class="text-4xl font-bold mb-8">
	🌱 Plant Watcher
</h1>
<form action="/plants" method="post" class="bg-white p-4 rounded-xl shadow mb-8">
	<div class="mb-4">
		<input required type="text" name="name" placeholder="Plant name" class="border p-2 w-full rounded">
	</div>

	<div class="mb-4">
		<input type="text" name="watering_range" placeholder="6-8" class="border p-2 w-full rounded">
	</div>
	<div class="mb-4">
		<textarea id="info" name="info" class="border rounded p-2 w-full resize-none" rows="3"
			placeholder="Add your plant description/informations"></textarea>
	</div>

	<button class="bg-green-600 text-white px-4 py-2 rounded">
		Add plant
	</button>
</form>
<div class="space-y-4">

	{% for plant in plants %}
	{% if edit_id == plant.id %}

	<div class="ring-2 ring-green-500 bg-white rounded-xl p-4">

		<form method="post" action="/plants/{{ plant.id }}/edit" class="flex flex-col gap-4">

			<div class="flex items-center gap-2">
				<label for="name">
					Name:
				</label>

				<input id="name" type="text" name="name" value="{{ plant.name }}" class="border rounded p-2">
			</div>

			<div class="flex items-center gap-2">
				<label for="last_watered">
					Last watered
				</label>

				<input id="last_watered" type="date" name="last_watered" class="border rounded p-2"
					value="{{ plant.last_watered_at.strftime('%Y-%m-%d') }}">
			</div>

			<div class="flex items-center gap-2">
				<label for="watering_min_days">
					Watering every
				</label>

				<input id="watering_interval_min" type="number" name="watering_min_days"
					value="{{ plant.watering_min_days }}" class="border rounded p-2 w-10">

				<span>to</span>

				<input id="watering_interval_max" type="number" name="watering_max_days"
					value="{{ plant.watering_max_days }}" class="border rounded p-2 w-10">

				<span>days</span>
			</div>

			<div class="flex items-center gap-2">
				<label for="info">
					Info
				</label>

				<textarea id="info" name="info" class="border rounded p-2" rows="3"></textarea>
			</div>

			<button class="text-white bg-green-600 rounded px-4 py-2 w-fit">
				Save
			</button>
		</form>
	</div>

	{% else %}

	<div class="bg-white p-4 rounded-xl shadow flex justify-between">
		<h2>{{ plant.name }}</h2>

		<a href="/manage-plants?edit={{ plant.id }}">
			Edit
		</a>
	</div>
	{% endif %}
	{% endfor %}
</div>
{% endblock %}